div(class="fullwidth-wrapper home")
    div.content-wrapper
        div.page-title-wrapper.home
            h1.jumbo-title Welcome to The Setup Market
            h2.jumbo-title-subtitle The place to find sim racing setups.

div(class="fullwidth-wrapper flex border-top")
    div.side-by-side.green-bg
        div.homepage-howto-wrapper
            h3.title.padding-bottom-only Download
            i.icon-download.huge-icon
            span.homepage-howto-text Browse setups for the sim and car/track combo of your choice.

        div.homepage-howto-separator

        div.homepage-howto-wrapper
            h3.title.padding-bottom-only Share
            i.icon-share.huge-icon
            span.homepage-howto-text Create an account and upload your precious setups for the community.

    div.side-by-side.orange-bg
        h2.title.padding-bottom-only What's new ?

        ul.newsFeed
            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month May
                    span.newsFeed-item-date-day 7
                div.newsFeed-item-content
                    h3.newsFeed-title Assetto Corsa app released!
                    span.newsFeed-text You can now download setups directly on the track, just click on the download icon of the setup you want and it will be downloaded in the corresponding car/track setups folder.
                    span.newsFeed-text Setup upload and update has also never been easier. Just choose the file you want to upload, select the trim and click the upload button. 
                    div(ng-if="ng_user_id") 
                        span.newsFeed-text 
                            span You will need to link your steam account to your The Setup Market account for the upload/update functionality to work, just click on the link button of your The Setup Market 
                            a(href="#/profile/{{ng_user_id}}", class="link") profile page
                            span .
                    div(ng-if="!ng_user_id")
                        span.newsFeed-text 
                            span You have to 
                            a(href="/login", class="link") log in 
                            span or 
                            a(href="/register", class="link") create a The Setup Market account 
                            span in order to use the upload functionality. Once logged in, all you need to enable the app upload feature is to link your steam account with your The Setup Market account by clicking on the link button of your profile page.
                    span.newsFeed-text 
                        span You can grab the app at Race Department 
                        a(href="http://www.racedepartment.com/downloads/the-setup-market.10149/",class="link") here
                        span .


            //- li.newsFeed-item
            //-     div.newsFeed-item-date
            //-         span.newsFeed-item-date-month Nov
            //-         span.newsFeed-item-date-day 3
            //-     div.newsFeed-item-content
            //-         h3.newsFeed-title Setup Re-uploading implemented
            //-         span.newsFeed-text You can now re-upload a setup file to an existing setup. If you have made changes to a setup and wish to update it on the site, just go on the edit setup page and change its file. The setups that have been reuploaded will be marked with a 'vX' on the listing.

//- div(class="fullwidth-wrapper choose-flavor padded border-top")
//-     div.content-wrapper
//-         h2.title.no-padding Choose your flavor
//-         h3.subtitle (More sims coming soon)
//- 
//-         div.simSelection-simwrapper
//-             div(ng-repeat="sim in sims", class="simSelection-simwrapper-item")
//-                 a(href="#/setups/{{ sim.display_name }}", class="simSelection-circle-wrapper")
//-                     img(ng-src="images/logo_{{ sim.code }}.png")
//-                     div.simSelection-circle
//-                     div.simSelection-circle2
//-                     div.simSelection-circle3
//-                     div.simSelection-circle4

div(class="fullwidth-wrapper flex--row border-top")
    div.homepage-stats-col-wrapper.orange
        h2.title--small.icon-cup Hall of Fame

        div.homepage-stats-col
            h2.homepage-stats-title / Most active user
            span.homepage-stats-content {{ user_stats.user_with_most_setups_ever }}

        div.homepage-stats-col
            h2.homepage-stats-title / Most downloaded user
            span.homepage-stats-content {{ user_stats.user_with_most_downloads_ever }}

    div.homepage-stats-col-wrapper.orange_alt1
        h2.title--small.icon-stats Market stats

        div.homepage-stats-col
            h2.homepage-stats-title / Setup count
            span.homepage-stats-content {{ user_stats.setups_count }}

        div.homepage-stats-col
            h2.homepage-stats-title / Downloads count
            span.homepage-stats-content {{ user_stats.setups_downloads_total }}

//- div(class="fullwidth-wrapper clear border-top")
//-     div.homepage-stats-col-wrapper.orange_alt2
//-         h2.title--small New Cars

//-         ul
//-             li None

//-     div.homepage-stats-col-wrapper.orange_alt3
//-         h2.title--small New Tracks

//-         ul
//-             li None
