div(class="fullwidth-wrapper home superparallax", parallax="superparallax")
    div.content-wrapper
        div.page-title-wrapper.home
            h1.jumbo-title Welcome to The Setup Market
            h2.jumbo-title-subtitle The place to find sim racing setups.

div(class="fullwidth-wrapper flex border-top")
    div.side-by-side.green-bg
        div.homepage-howto-wrapper
            h3.title.padding-bottom-only Download
            i.icon-download.huge-icon
            span.homepage-howto-text Browse setups for the sim and car/track combo of your choice.

        div.homepage-howto-separator

        div.homepage-howto-wrapper
            h3.title.padding-bottom-only Share
            i.icon-share.huge-icon
            span.homepage-howto-text Create an account and upload your precious setups for the community.

    div.side-by-side.orange-bg
        h2.title.padding-bottom-only What's new ?

        ul.newsFeed
            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month Nov
                    span.newsFeed-item-date-day 3
                div.newsFeed-item-content
                    h3.newsFeed-title Setup Re-uploading implemented
                    span.newsFeed-text You can now re-upload a setup file to an existing setup. If you have made changes to a setup and wish to update it on the site, just go on the edit setup page and change its file. The setups that have been reuploaded will be marked with a 'vX' on the listing.

            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month Sept
                    span.newsFeed-item-date-day 23
                div.newsFeed-item-content
                    h3.newsFeed-title New cars and tracks added
                    span.newsFeed-text With the release of some mod content, new cars and tracks are available for setup uploading:
                    div.newFeed-sbslist-wrapper
                        ul.newFeed-sbslist
                            li
                                a(href="http://www.racedepartment.com/downloads/corvette-c6r-2013.2852/", class="link", target="_blank") Corvette C6R 2013
                            li
                                a(href="http://www.racedepartment.com/downloads/ginetta-g55-gt4.4214/", class="link", target="_blank") Ginetta G55
                            li
                                a(href="http://www.racedepartment.com/downloads/ier-car-pack-1-uscc-mod.7348/", class="link", target="_blank") Corvette DP HD (Coyote and Dallara)
                            li
                                a(href="http://www.racedepartment.com/downloads/ier-car-pack-1-uscc-mod.7348/", class="link", target="_blank") Oreca FLM09
                            li
                                a(href="http://www.racedepartment.com/downloads/caterham-academy.6794/", class="link", target="_blank") Caterham Academy

                    div.newFeed-sbslist-wrapper
                        ul.newFeed-sbslist
                            li
                                a(href="http://www.racedepartment.com/downloads/tor-pozna%C5%84.6118/", class="link", target="_blank") Tor Poznan&#769;
                            li
                                a(href="http://www.racedepartment.com/downloads/mills-metropark.7222/", class="link", target="_blank") Mills Metropark
                            li
                                a(href="http://www.racedepartment.com/downloads/bridgehampton-race-circuit.6604/", class="link", target="_blank") Bridgehamption race circuit
                            li
                                a(href="http://www.racedepartment.com/downloads/road-america-3-0.7095/", class="link", target="_blank") Road America

            //- li.newsFeed-item
            //-     div.newsFeed-item-date
            //-         span.newsFeed-item-date-month Sept
            //-         span.newsFeed-item-date-day 18
            //-     div.newsFeed-item-content
            //-         h3.newsFeed-title Setup rating implemented
            //-         span.newsFeed-text A rating system for the setups has been implemented. When logged in, just navigate to a setup's detail page and give it the rating you think it deserves. You can also sort them by their ratings on the listing page.

            //- li.newsFeed-item
            //-     div.newsFeed-item-date
            //-         span.newsFeed-item-date-month Sept
            //-         span.newsFeed-item-date-day 15
            //-     div.newsFeed-item-content
            //-         h3.newsFeed-title Added Setup editing
            //-         span.newsFeed-text You can now edit a setup that you have already posted. If you want to change the laptime, trim, AC version or comments, just navigate to your profile and click the edit icon in your posted setup listing.

div(class="fullwidth-wrapper choose-flavor padded border-top")
    div.content-wrapper
        h2.title.no-padding Choose your flavor
        h3.subtitle (More sims coming soon)

        div.simSelection-simwrapper
            div(ng-repeat="sim in sims", class="simSelection-simwrapper-item")
                a(href="#/setups/{{ sim.display_name }}", class="simSelection-circle-wrapper")
                    img(ng-src="images/logo_{{ sim.code }}.png")
                    div.simSelection-circle
                    div.simSelection-circle2
                    div.simSelection-circle3
                    div.simSelection-circle4

div(class="fullwidth-wrapper flex--row border-top")
    div.homepage-stats-col-wrapper.orange
        h2.title--small.icon-cup Hall of Fame

        div.homepage-stats-col
            h2.homepage-stats-title / Most active user
            span.homepage-stats-content {{ user_stats.user_with_most_setups_ever }}

        div.homepage-stats-col
            h2.homepage-stats-title / Most downloaded user
            span.homepage-stats-content {{ user_stats.user_with_most_downloads_ever }}

    div.homepage-stats-col-wrapper.orange_alt1
        h2.title--small.icon-stats Market stats

        div.homepage-stats-col
            h2.homepage-stats-title / Setup count
            span.homepage-stats-content {{ user_stats.setups_count }}

        div.homepage-stats-col
            h2.homepage-stats-title / Downloads count
            span.homepage-stats-content {{ user_stats.setups_downloads_total }}

//- div(class="fullwidth-wrapper clear border-top")
//-     div.homepage-stats-col-wrapper.orange_alt2
//-         h2.title--small New Cars

//-         ul
//-             li None

//-     div.homepage-stats-col-wrapper.orange_alt3
//-         h2.title--small New Tracks

//-         ul
//-             li None