div(class="fullwidth-wrapper home")
    div.content-wrapper
        div.page-title-wrapper
            h1.jumbo-title News

div(class="fullwidth-wrapper white border-top")
    div.content-wrapper
        ul.newsFeed
            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month Sept
                    span.newsFeed-item-date-day 23
                div.newsFeed-item-content
                    h3.newsFeed-title New cars and tracks added
                    span.newsFeed-text With the release of some mod content, new cars and tracks are available for setup uploading:
                    div.newFeed-sbslist-wrapper
                        ul.newFeed-sbslist
                            li
                                a(href="http://www.racedepartment.com/downloads/corvette-c6r-2013.2852/", class="link", target="_blank") Corvette C6R 2013
                            li
                                a(href="http://www.racedepartment.com/downloads/ginetta-g55-gt4.4214/", class="link", target="_blank") Ginetta G55
                            li
                                a(href="http://www.racedepartment.com/downloads/ier-car-pack-1-uscc-mod.7348/", class="link", target="_blank") Corvette DP HD (Coyote and Dallara)
                            li
                                a(href="http://www.racedepartment.com/downloads/ier-car-pack-1-uscc-mod.7348/", class="link", target="_blank") Oreca FLM09
                            li
                                a(href="http://www.racedepartment.com/downloads/caterham-academy.6794/", class="link", target="_blank") Caterham Academy

                    div.newFeed-sbslist-wrapper
                        ul.newFeed-sbslist
                            li
                                a(href="http://www.racedepartment.com/downloads/tor-pozna%C5%84.6118/", class="link", target="_blank") Tor Poznan&#769;
                            li
                                a(href="http://www.racedepartment.com/downloads/mills-metropark.7222/", class="link", target="_blank") Mills Metropark
                            li
                                a(href="http://www.racedepartment.com/downloads/bridgehampton-race-circuit.6604/", class="link", target="_blank") Bridgehamption race circuit
                            li
                                a(href="http://www.racedepartment.com/downloads/road-america-3-0.7095/", class="link", target="_blank") Road America

            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month Sept
                    span.newsFeed-item-date-day 18
                div.newsFeed-item-content
                    h3.newsFeed-title Setup rating implemented
                    span.newsFeed-text A rating system for the setups has been implemented. When logged in, just navigate to a setup's detail page and give it the rating you think it deserves. You can also sort them by their ratings on the listing page.

            li.newsFeed-item
                div.newsFeed-item-date
                    span.newsFeed-item-date-month Sept
                    span.newsFeed-item-date-day 15
                div.newsFeed-item-content
                    h3.newsFeed-title Added Setup editing
                    span.newsFeed-text You can now edit a setup that you have already posted. If you want to change the laptime, trim, AC version or comments, just navigate to your profile and click the edit icon in your posted setup listing.