div(class="fullwidth-wrapper orange")
    div.content-wrapper
        div.breadcrumbs-wrapper
            a(href="#/", class="link breadcrumbs-item") Home
            span(class="breadcrumbs-item current") {{ sim_name }} setups

div(class="fullwidth-wrapper {{ sim_infos.code }} superparallax", parallax="superparallax")

div(class="fullwidth-wrapper white padded")
    div.content-wrapper
        h1.sim-presentation-title
            span.title-slash /
            span {{ sim_name }}

        div(class="setupList-filters-wrapper")
            div.form-block
                label(for="filter-car", class="label-block") / Car
                div.form-select-wrapper
                    select(id="filter-car" ,ng-model="filter_query.car", ng-options="car_filters for car_filters in setup_filters.car_filters | orderBy:'toString()'")
                        option(value="") - Every cars -

            div.form-block
                label(for="filter-car-category", class="label-block") / Car Category
                div.form-select-wrapper
                    select(id="filter-car-category" ,ng-model="filter_query.car_category", ng-options="car_category_filters for car_category_filters in setup_filters.car_category_filters | orderBy:'toString()' track by car_category_filters")
                        option(value="") - Every category -

            div.form-block
                label(for="filter-track", class="label-block") / Track
                div.form-select-wrapper
                    select(id="filter-track", ng-model="filter_query.track", ng-options="track_filters for track_filters in setup_filters.track_filters | orderBy:'toString()'")
                        option(value="") - Every tracks -

            div.form-block
                label(for="filter-author", class="label-block") / Author
                input(id="filter-author", type="text", placeholder="Enter an author", ng-model="filter_query.author", class="form-textfield")

            div.form-block
                label(for="filter-type", class="label-block") / Trim
                div.form-select-wrapper
                    select(id="filter-type", ng-model="filter_query.type", ng-options="type_filters for type_filters in setup_filters.type_filters")
                        option(value="") - Every trim -

            div.form-block
                label(for="filter-track", class="label-block") / Sim Version
                div.form-select-wrapper
                    select(id="filter-sim-version", ng-model="filter_query.sim_version", ng-options="sim_version_filters for sim_version_filters in setup_filters.sim_version_filters")
                        option(value="") - Every Version -

        div.setupList-setups-wrapper
            table.setupList-setups-table
                tr
                    th /&nbsp;Actions
                    th /&nbsp;Car
                    th /&nbsp;Track
                    th /&nbsp;Author
                    th /&nbsp;Type
                    th
                        span(class="orderable", ng-class="{reverse:reverse}", ng-click="order('best_time')", tooltip="Order By Lap Time")
                            span /&nbsp;Best Lap
                            i(ng-class="{'icon-downarrow':reverse && predicate === 'best_time', 'icon-uparrow':!reverse && predicate === 'best_time'}")
                    th
                        span(class="orderable", ng-class="{reverse:reverse}", ng-click="order('downloads')", tooltip="Order By Downloads")
                            span /&nbsp;Downloads
                            i(ng-class="{'icon-downarrow':reverse && predicate === 'downloads', 'icon-uparrow':!reverse && predicate === 'downloads'}")
                    th
                        span(class="orderable", ng-class="{reverse:reverse}", ng-click="order('added_date.timestamp')", tooltip="Order By Added Date")
                            span /&nbsp;Added Date
                            i(ng-class="{'icon-downarrow':reverse && predicate === 'added_date.timestamp', 'icon-uparrow':!reverse && predicate === 'added_date.timestamp'}")
                    th /&nbsp;Version

                tr(ng-repeat="setup in setups | filter:{ car:filter_query.car||undefined, car_category:filter_query.car_category||undefined, track:filter_query.track||undefined, author:filter_query.author, type:filter_query.type||undefined, sim_version:filter_query.sim_version||type } | orderBy:predicate:reverse")
                    td
                        a(href="setup_files/{{ sim_infos._id }}/{{ setup._id }}", class="icon-download icon-link", tooltip="Download")
                        a(href="#/setups/{{ sim_name }}/{{ setup.authorid }}/{{ setup._id }}/", class="icon-details icon-link", tooltip="See details")
                    td {{ setup.car }}
                    td {{ setup.track }}
                    td
                        a(href="#/profile/{{ setup.authorid }}", class="link", tooltip="See user profile") {{ setup.author }}
                    td {{ setup.type }}
                    td {{ setup.best_time }}
                    td {{ setup.downloads }}
                    td {{ setup.added_date.display_time }}
                    td {{ setup.sim_version }}