div(class="fullwidth-wrapper orange")
    //- div.breadcrumbs-wrapper
    //-     a(href="/#/", class="link breadcrumbs-item") Home
    //-     span(class="breadcrumbs-item current") Submit Setup

div(class="notification-wrapper", ng-if="notification.msg", ng-class="{'is-error': notification.status == 'error', 'is-success': notification.status == 'success'}")
    span {{ notification.msg }}

div(class="fullwidth-wrapper submit superparallax", parallax="superparallax")
    div.content-wrapper
        div.page-title-wrapper
            h1.jumbo-title
                span.title-slash /
                span Upload a setup

div(class="fullwidth-wrapper white padded")
    

    div(ng-controller="submitSetupCtrl", class="form-wrapper")

        div.fullwidth-form
            form(id="setup-upload-form", action="", method="post", enctype="multipart/form-data")
                input(id="author-field", type="hidden", ng-model="new_setup.author_userid", ng-init="new_setup.author_userid=ng_user_id")

                div.field-block
                    label(for="simSelect", class="form-label") Simulation :
                    div.form-select-wrapper
                        select(id="simSelect", ng-model="new_setup.sim", ng-options="sim.display_name for sim in sims track by sim.id")
                            option(value="") - Select -

                div.field-block
                    label(for="carSelect", class="form-label") Car :
                    div(class="form-select-wrapper", ng-class="{'is-disabled': new_setup.sim == undefined}")
                        select(id="carSelect", ng-model="new_setup.car", ng-options="car.name for car in new_setup.sim.cars | orderBy:'name' track by car._id", ng-disabled="!new_setup.sim")
                            option(value="") - Select -

                div.field-block
                    label(for="trackSelect", class="form-label") Track :
                    div(class="form-select-wrapper", ng-class="{'is-disabled': new_setup.sim == undefined}")
                        select(id="trackSelect", ng-model="new_setup.track", ng-options="track.name for track in new_setup.sim.tracks | orderBy:'name' track by track._id", ng-disabled="!new_setup.sim")
                            option(value="") - Select -

                div.field-block
                    label(for="trim", class="form-label") Trim :
                    div.form-select-wrapper
                        select(id="trim", ng-model="new_setup.trim", ng-init="new_setup.trim='base'")
                            option(value="base") Base
                            option(value="qualy") Qualy
                            option(value="race") Race

                div.field-block
                    label(class="form-label") File :
                    div.form-fileupload-wrapper
                        div.form-inputfile-wrapper
                            input(type="file", accept=".sto, .ini", file-model="new_setup.file", ng-model="new_setup.file")
                            span(ng-if="!new_setup.file") Choose File
                            span(ng-if="new_setup.file") {{ new_setup.file.name }}

                div.form-separator - Optional -

                div.field-block
                    label(for="best-time", class="form-label") Best time :
                    div.form-input-wrapper
                        input(type="text", id="best-time", class="form-textfield", placeholder="Ex: 1.41.543", format-laptime, ng-model="new_setup.best_laptime")

                div.field-block
                    label(for="comments", class="form-label") Comments / Notes :
                    div.form-input-wrapper
                        textarea(id="comments", class="form-textarea", rows="8", placeholder="Some usefull comments...", ng-model="new_setup.comments")

                input(type="checkbox", class="form-botcheck")

                button(type="button", id="submit-button", class="form-submitbutton", ng-disabled="!new_setup.sim||!new_setup.car||!new_setup.track||!new_setup.trim||!new_setup.file", ng-click="submitSetup($event)") Submit