.form-block {
    display: block;
    margin-bottom: $padding;

    .is-hidden {
        display: none;
    }
}

.label-block {
    display: block;
    margin-bottom: $padding / 2;
}

.label-inline {
    display: inline-block;
}

.field-helperIcon {
    display: inline-block;
    height: 10px;
    width: 10px;

    &.error {
        background-color: red;
    }

    &.success {
        background-color: green;
    }
}

.filter-selectable-element {
    padding: $padding / 2;
    cursor: pointer;

    &.is-selected {
        background-color: $primary_color;
    }
}