::-webkit-input-placeholder {
    color: lighten($primary_color, 20);
}

:-moz-placeholder {
   color: lighten($primary_color, 20);
   opacity:  1;
}

::-moz-placeholder {
   color: lighten($primary_color, 20);
   opacity:  1;
}

:-ms-input-placeholder {
   color: lighten($primary_color, 20);
}

// Custom classes styles
.form-wrapper {
    min-width: 1024px;
}

.fullwidth-form {
    * {
        box-sizing: border-box;
    }

    .field-block {
        @include span(12);
        @include container;
    }

    .form-label {
        @include span(3);
        @include push(1);

        text-align: right;
        padding: $padding / 1.5 0;
        font-size: 1.5em;
        color: $primary_color;
        font-weight: bold;
    }

    .form-select-wrapper,
    .form-input-wrapper,
    .form-fileupload-wrapper,
    .form-statictext-wrapper {
        @include span(4);
    }

    .form-select-wrapper {
        &.is-disabled {
            background-color: $disabled_bg_color;

            select {
                color: $disabled_color;
            }
        }
    }

    .form-textfield,
    .form-textarea {
        width: 100%;
        padding: $padding / 1.5;
    }

    .form-fileupload-wrapper {
        margin-bottom: $padding;
    }

    .form-statictext-wrapper {
        margin-bottom: $padding / 2;
    }

    .form-statictext {
        display: inline-block;
        text-align: left;
        color: $primary_color;
        font-size: 1.2rem;
        line-height: 3rem;
    }

    .msg-wrapper {
        @include span(3 at 7);

        padding: $padding / 1.5;
        text-align: left;
    }
}

.setupList-filters-wrapper {
    .label-block {
        font-size: 1.5rem;
        color: $primary_color;
        font-weight: bold;
    }

    .form-block {
        margin-bottom: $padding * 2;
    }

    .form-textfield {
        margin-bottom: 0;
    }
}

.form-block {
    display: block;
    margin-bottom: $padding;

    .is-hidden {
        display: none;
    }
}

.form-textfield,
.form-textarea {
    width: 100%;
    padding: $padding / 1.5;
    margin-bottom: $padding;
    border-radius: 5px;
    background-color: lighten($primary_color, 45);
    font-size: 1.1em;
    border: none;
    color: $primary_color;

    &:hover,
    &:focus {
        background-color: lighten($primary_color, 35);
    }

    &.has-error {
        border: 2px solid $error_color;
        background-color: lighten($error_color, 45);
    }
}

.form-textarea {
    resize: none;
}

.form-select-wrapper {
    margin-bottom: $padding;
    background-color: lighten($primary_color, 45);
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: lighten($primary_color, 35);
    }

    select {
        width: 100%;
        height: 2.7rem;
        border: none;
        background-color: transparent;
        color: $primary_color;
        font-size: 1.2rem;
    }

    .setupList-setups-table & {
        margin-bottom: 0;

        select {
            min-width: 90px;
            font-size: 1rem;
        }
    }
}

.form-submitbutton {
    display: table;
    margin: 0 auto;
    padding: $padding / 1.5;
    background-color: $secondary_color;
    border-radius: 5px;
    border: none;
    color: $primary_color;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $primary_color;
        color: $secondary_color;
    }

    &.is-disabled,
    &:disabled {
        background-color: lighten($secondary_color_alt1, 25);
        color: $secondary_color;
        cursor: not-allowed;
    }

    &.is-loading {
        position: relative;
        color: lighten($secondary_color_alt1, 25);

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0;
            color: $primary_color;

            animation-name: loading-spin;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.form-inputfile-wrapper {
    position: relative;
    width: 100%;
    height: $padding * 3;
    padding-left: $padding / 2;
    background-color: lighten($primary_color, 45);
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: lighten($primary_color, 35);
    }

    span {
        display: block;
        color: $primary_color;
        font-size: 1.2rem;
        line-height: 3rem;
        text-align: left;
    }

    input[type="file"] {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;

        &:active + span {
            color: $secondary_color;
        }
    }
}

.form-title-msg {
    margin-bottom: $padding * 2;
    text-align: center;
    color: $primary_color;
    font-size: 1.5rem;
}

.form-fileupload-info {
    padding: $padding 0;
    color: $primary_color;
    text-align: left;
}

.form-botcheck {
    position: absolute;
    top: -999999px;
    left: -999999px;
}

.label-block {
    display: block;
    margin-bottom: $padding / 2;
}

.label-inline {
    display: inline-block;
}

.field-helperIcon {
    display: inline-block;
    font-size: 1.5em;

    &.error {
        color: $error_color;
    }

    &.success {
        color: $success_color;
    }
}

.msg-box {
    position: relative;
    top: -5px;
    font-size: 1.2em;

    &.has-error {
        color: $error_color;
    }
}

.form-backendmsg-wrapper {
    padding: $padding 0 $padding * 2;
    font-size: 2em;
    color: $error_color;
    text-align: center;
}

.filter-selectable-element {
    padding: $padding / 2;
    cursor: pointer;

    &.is-selected {
        background-color: $primary_color;
    }
}

.form-separator {
    @include span(12);
    @include container;

    padding: $padding 0 $padding * 3;
    font-size: 2em;
    color: $secondary_color;
    text-align: center;
}

// keyframes
@-moz-keyframes loading-spin {
    from { -moz-transform: translate(-50%, -50%) rotate(0deg); }
    to { -moz-transform: translate(-50%, -50%) rotate(360deg); }
}
@-webkit-keyframes loading-spin {
    from { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
    to { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes loading-spin {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}