// Native elements styles
form {
    text-align: center;
}

::-webkit-input-placeholder {
    color: lighten($primary_color, 20);
}

:-moz-placeholder {
   color: lighten($primary_color, 20);
   opacity:  1;
}

::-moz-placeholder {
   color: lighten($primary_color, 20);
   opacity:  1;
}

:-ms-input-placeholder {
   color: lighten($primary_color, 20);
}

// Custom classes styles
.form-wrapper {
    min-width: 1024px;
}

.fullwidth-form {
    * {
        box-sizing: border-box;
    }

    .field-block {
        @include span(12);
        @include container;
    }

    .form-label {
        @include span(3);
        @include push(1);

        text-align: right;
        padding: $padding / 1.5 0;
        font-size: 1.5em;
        color: $primary_color;
        font-weight: bold;
    }

    .form-select-wrapper,
    .form-input-wrapper,
    .form-fileupload-wrapper {
        @include span(4);
    }

    .form-select-wrapper {
        &.is-disabled {
            border: 2px solid grey;
            background-color: transparentize(grey, 0.5);

            select {
                color: grey;
            }
        }
    }

    .form-textfield,
    .form-textarea {
        width: 100%;
        padding: $padding / 1.5;
    }

    .msg-wrapper {
        @include span(3 at 7);

        padding: $padding / 1.5;
        text-align: left;
    }
}

.setupList-filters-wrapper {
    .label-block {
        font-size: 1.5rem;
        color: $primary_color;
        font-weight: bold;
    }

    .form-block {
        margin-bottom: $padding * 2;
    }

    .form-textfield {
        margin-bottom: 0;
    }
}

.form-block {
    display: block;
    margin-bottom: $padding;

    .is-hidden {
        display: none;
    }
}

.form-textfield,
.form-textarea {
    width: 100%;
    padding: $padding / 1.5;
    margin-bottom: $padding;
    border-radius: 5px;
    background-color: lighten($primary_color, 50);
    font-size: 1.1em;
    border: 2px solid $primary_color;
    color: $primary_color;

    &.has-error {
        border: 2px solid $error_color;
        background-color: lighten($error_color, 45);
    }
}

.form-textarea {
    resize: none;
}

.form-select-wrapper {
    margin-bottom: $padding;
    background-color: lighten($primary_color, 50);
    border-radius: 5px;
    border: 2px solid $primary_color;

    select {
        width: 100%;
        height: 2.7rem;
        border: none;
        background-color: transparent;
        color: $primary_color;
        font-size: 1.2rem;
    }

    .setupList-setups-table & {
        margin-bottom: 0;

        select {
            min-width: 90px;
            font-size: 1rem;
        }
    }
}

.form-submitbutton {
    padding: $padding / 1.5;
    background-color: lighten($secondary_color, 10);
    border-radius: 5px;
    border: 2px solid $primary_color;
    color: $primary_color;
    font-size: 1.5em;
    cursor: pointer;

    &.is-disabled,
    &:disabled {
        background-color: lighten($primary_color, 20);
        border: 2px solid lighten($secondary_color, 20);
        color: lighten($secondary_color, 20);
        cursor: not-allowed;
    }
}

.form-inputfile-wrapper {
    position: relative;
    width: 12rem;
    height: $padding * 3;
    background-color: lighten($secondary_color, 10);
    border-radius: 5px;
    border: 2px solid $primary_color;
    color: $primary_color;
    font-size: 1.1em;

    span {
        display: block;
        line-height: 2.7rem;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 12rem;
        height: $padding * 3;
        opacity: 0;
    }
}

.form-title-msg {
    margin-bottom: $padding * 2;
    text-align: center;
    color: $primary_color;
    font-size: 1.5rem;
}

.form-fileupload-info {
    padding: $padding 0;
    color: $primary_color;
    text-align: left;
}

.form-botcheck {
    position: absolute;
    top: -999999px;
    left: -999999px;
}

.label-block {
    display: block;
    margin-bottom: $padding / 2;
}

.label-inline {
    display: inline-block;
}

.field-helperIcon {
    display: inline-block;
    font-size: 1.5em;

    &.error {
        color: $error_color;
    }

    &.success {
        color: $success_color;
    }
}

.msg-box {
    position: relative;
    top: -5px;
    font-size: 1.2em;

    &.has-error {
        color: $error_color;
    }
}

.form-backendmsg-wrapper {
    padding: $padding 0 $padding * 2;
    font-size: 2em;
    color: $error_color;
    text-align: center;
}

.filter-selectable-element {
    padding: $padding / 2;
    cursor: pointer;

    &.is-selected {
        background-color: $primary_color;
    }
}

.form-separator {
    @include span(12);
    @include container;

    padding: 0 0 $padding * 3;
    font-size: 2em;
    color: $secondary_color;
}