$padding: 1rem;
$padding_mega: 8rem;

// ===============
// Colors
// ===============

// Main
$bg_color: #fff;
$primary_color: #40A9A9;
$secondary_color: #fd9a30;

$error_color: #e54a4a;
$error_bg_color: lighten($error_color, 30);

$success_color: #63bc22;
$success_bg_color: lighten($success_color, 40);

$warning_color: #f6cf35;
$warning_bg_color: lighten($warning_color, 30);

$disabled_color: #9d9f9f;
$disabled_bg_color: #d2d3d3;

// Alt
$primary_color_alt1: adjust-hue($primary_color, -40deg);
$primary_color_alt2: saturate($primary_color, 15);
$primary_color_alt3: adjust-hue($primary_color, 16deg);

$secondary_color_alt1: adjust-hue($secondary_color, -12deg);
$secondary_color_alt2: desaturate($secondary_color, 18);
$secondary_color_alt3: adjust-hue($secondary_color, 10deg);