@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

@import 'susy_config';

@import 'common/mixins';

@import 'admin';
@import 'forms';
@import 'common/link';
@import 'common/breadcrumbs';
@import 'common/navigation';
@import 'common/typography';

@import 'grid_mixins';

// ===========================
// Native elements styles
// ===========================
html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}


// ===========================
// Common
// ===========================

.mainContainer {
    min-width: 1024px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    z-index: 0;
}

.fullwidth-wrapper {
    width: 100%;
    position: relative;

    &.white {
        background-color: $bg_color;
    }

    &.green {
        background-color: $primary_color;
        color: $bg_color;
    }

    &.orange {
        background-color: $secondary_color;
    }

    &.ac {
        padding: $padding_mega * 1.5 0;
        background: url('../images/ac_bg.jpg');
        background-size: cover;
    }

    &.iracing {
        padding: $padding_mega * 1.5 0;
        background: url('../images/ac_bg.jpg');
        background-size: cover;
    }

    &.register {
        padding: $padding_mega * 1.5 0;
        background: url('../images/register_bg.jpg');
        background-size: cover;
    }

    &.profile {
        padding: $padding_mega * 1.5 0;
        background: url('../images/register_bg.jpg');
        background-size: cover;
    }

    &.padded {
        padding: $padding * 1.5 0;
    }

    &.white_lined {
        border-top: 5px solid $bg_color;
    }
}

.content-wrapper {
    @include container;

    width: 90%;
    margin: 0 auto;
}


// ===========================
// Site Header
// ===========================

header {
    background-color: $bg_color;
}

// Main nav
.main-nav-wrapper {
    @include span(6 of 12);
}

// Login box
.login-box {
    @include span(6 at 7 of 12);
    text-align: right;
}

// ===========================
// Site Footer
// ===========================
footer {
    padding: $padding 0;
    background-color: $primary_color;
    border-top: 5px solid $bg_color;
    color: $bg_color;
    text-align: center;

    .footer-email-link {
        font-weight: 700;
        color: $secondary_color;

        &:hover {
            color: $bg_color;
        }
    }
}


// ===========================
// Main page specific content
// ===========================

.mainpage-title {
    padding: $padding_mega * 1.7 0;
    color: #fff;
}

.simSelection-simwrapper {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: space-around;
}

.simSelection-simwrapper-item {
    border-left: 5px solid $bg_color;
    border-right: 5px solid $bg_color;
    transition: all 0.2s;

    &:hover {
        background-color: $secondary_color;
    }

    img {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
}


// ===========================
// Setup Listings specific content
// ===========================

.setupList-wrapper {
    @include container;
}

.setupList-filters-wrapper {
    @include span(2);
}

.setupList-setups-wrapper {
    @include span(10 at 3);
}

.setupList-setups-table {
    width: 100%;
    margin: 0 auto;
    color: $bg_color;

    tr {
        text-align: center;

        &.table-filters {
            background-color: $primary_color !important;

            th {
                padding-top: 0;
            }
        }

        @for $i from 1 through 25 {
            @include print_nthchild_with_bgcolor('10',  #{$i}, $secondary_color);
        }

        &:nth-child(10n) {
            background-color: $secondary_color;
        }

        &:first-child {
            background-color: $primary_color;
        }
    }

    th {
        padding: $padding;
        font-size: 1rem;

        @include huge {
            font-size: 1.2rem;
        }

        .orderable {
            cursor: pointer;
        }
    }

    td {
        padding: $padding / 2;
        white-space: nowrap;
    }

    .icon-link {
        display: inline-block;
        margin-left: $padding / 2;
        width: 35px;
        height: 35px;
        background-color: $primary_color;
        border-radius: 100%;
        color: $bg_color;
        font-size: 1.2rem;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s;

        &:before {
            padding: 0;
            top: 8px;
        }

        &:hover {
            background-color: $bg_color;
            color: $primary_color;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .link {
        &:hover {
            color: $bg_color;
        }
    }

    .visible-huge {
        display: none;

        @include huge {
            display: table-cell;
        }
    }
}


// ===========================
// Setup Details specific content
// ===========================

.setupDetail-wrapper {
    @include container;
}

.setupDetail-overview {
    @include span(6);
}

.setupDetail-indepth {
    @include span(6 at 7);
}


// ===========================
// Profile page specific content
// ===========================

.profile-details {
    @include span(12);
    @include container();
}

.profile-details-stats-wrapper {
    @include span(6);
}

.profile-details-changes-wrapper {
    @include span(6 at 7);
}

.profile-stats-list-item {
    margin-bottom: $padding;
}

.profile-stats-list-title{
    margin-left: $padding;
    line-height: 2rem;
    color: $primary_color;
    font-size: 1.2rem;
}

.profile-stats-circle {
    display: inline-block;
    border-width: 4px;
    border-color: $primary_color;
    border-radius: 100%;
    border-style: solid;
    background-color: lighten($primary_color, 45%);

    .profile-stats-circle-inner {
        position: relative;
        left: -1px;
        display: inline-block;
        width: $padding * 3;
        line-height: $padding * 3;
        text-align: center;
        color: $primary_color;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.profile-changes-wrapper {
    .label-block {
        font-size: 1.2rem;
        color: $primary_color;
    }

    .msg-box {
        margin-bottom: $padding;
    }
}

.profile-setupList {
    @include span(12);
}

.profile-changes-list,
.profile-stats-list {
    padding-left: $padding * 1.9;
}

.profile-changes-list-item {
    margin-bottom: $padding * 2;

    .label-block {
        color: $primary_color;
        font-size: 1.2rem;
    }
}

.profile-changes-list-separator {
    height: 2px;
    background-color: lighten($primary_color, 30);
    margin-bottom: $padding * 1.5;
}

.forgotten-password {
    display: block;
    text-align: center;
    padding: $padding;
}