@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

@import 'susy_config';

@import 'admin';
@import 'forms';
@import 'common/link';
@import 'common/breadcrumbs';
@import 'common/navigation';
@import 'common/typography';

@import 'grid_mixins';

// ===========================
// Native elements styles
// ===========================
html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}


// ===========================
// Common
// ===========================

.mainContainer {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    z-index: 0;
}

.fullwidth-wrapper {
    width: 100%;
    position: relative;

    &.white {
        background-color: $bg_color;
    }

    &.green {
        background-color: transparentize($primary_color, 0.2);
    }

    &.orange {
        background-color: $secondary_color;
    }

    &.ac {
        padding: $padding_mega * 1.5 0;
        background: url('../images/ac_bg.jpg');
        background-size: cover;
    }

    &.iracing {
        padding: $padding_mega * 1.5 0;
        background: url('../images/ac_bg.jpg');
        background-size: cover;
    }

    &.register {
        padding: $padding_mega * 1.5 0;
        background: url('../images/register_bg.jpg');
        background-size: cover;
    }

    &.profile {
        padding: $padding_mega * 1.5 0;
        background: url('../images/register_bg.jpg');
        background-size: cover;
    }

    &.padded {
        padding: $padding * 1.5 0;
    }
}

.content-wrapper {
    @include container;

    width: 1024px;
    margin: 0 auto;

    @include xlarge-only {
        width: 1220px;
    }

    @include huge {
        width: 1500px;
    }
}

.sim-presentation-title {
    @include span(12);
    color: $bg_color;
    font-size: 5rem;
    font-weight: 700;
    line-height: 2.3rem;

    margin-top: -4.5rem;
}


// ===========================
// Site Header
// ===========================

header {
    background-color: $bg_color;
}

// Main nav
.main-nav-wrapper {
    @include span(9 of 12);
}

// Login box
.login-box {
    @include span(3 at 10 of 12);
    text-align: right;
}

// ===========================
// Site Footer
// ===========================
footer {
    padding: $padding 0;
    background-color: $secondary_color;
    color: $bg_color;
}


// ===========================
// Main page specific content
// ===========================

.mainpage-title {
    padding: $padding_mega * 1.5 0;
    color: #fff;
}

.simSelection-simwrapper {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: space-around;

    padding: $padding * 2 0 $padding * 4;
}

.simSelection-simwrapper-item {
    //flex-grow: 1;

    background-color: $bg_color;
    border: 5px solid $secondary_color;
    border-radius: 100%;

    img {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
}

.green {
    background-color: $primary_color;
    color: $bg_color;
}


// ===========================
// Setup Listings specific content
// ===========================

.setupList-wrapper {
    @include container;
}

.setupList-filters-wrapper {
    @include span(2);
}

.setupList-setups-wrapper {
    @include span(9 at 4);
}

.setupList-setups-table {
    width: 100%;
    margin: 0 auto;
    color: $bg_color;

    tr {
        text-align: center;

        &.table-filters {
            background-color: $primary_color !important;

            th {
                padding-top: 0;
            }
        }

        &:nth-child(10n+1) {
            background-color: desaturate($secondary_color, 3)
        }

        &:nth-child(10n+2) {
            background-color: desaturate($secondary_color, 24)
        }

        &:nth-child(10n+3) {
            background-color: desaturate($secondary_color, 9)
        }

        &:nth-child(10n+4) {
            background-color: desaturate($secondary_color, 12)
        }

        &:nth-child(10n+5) {
            background-color: desaturate($secondary_color, 21)
        }

        &:nth-child(10n+6) {
            background-color: saturate($secondary_color, 5)
        }

        &:nth-child(10n+7) {
            background-color: desaturate($secondary_color, 6)
        }

        &:nth-child(10n+8) {
            background-color: desaturate($secondary_color, 18)
        }

        &:nth-child(10n+9) {
            background-color: desaturate($secondary_color, 15)
        }

        &:nth-child(10n) {
            background-color: $secondary_color;
        }

        &:first-child {
            background-color: $primary_color;
        }
    }

    th {
        padding: $padding;
        font-size: 1.2rem;

        .orderable {
            cursor: pointer;
        }
    }

    td {
        padding: $padding / 2 $padding;
    }

    .link {
        margin-left: $padding * 2;
        color: $primary_color;
        font-size: 1.2rem;
        transition: all 0.2s;

        &:hover {
            color: $bg_color;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}


// ===========================
// Setup Details specific content
// ===========================

.setupDetail-wrapper {
    @include container;
}

.setupDetail-overview {
    @include span(6);
}

.setupDetail-indepth {
    @include span(6 at 7);
}


// ===========================
// Profile page specific content
// ===========================

.profile-details {
    @include span(12);
    @include container();
}

.profile-details-stats-wrapper {
    @include span(6);
}

.profile-details-changes-wrapper {
    @include span(6 at 7);
}

.profile-stats-list-item {
    margin-bottom: $padding;
}

.profile-stats-list-title{
    margin-left: $padding;
    line-height: 2rem;
    color: $primary_color;
    font-size: 1.2rem;
}

.profile-stats-circle {
    display: inline-block;
    border-width: 4px;
    border-color: $primary_color;
    border-radius: 100%;
    border-style: solid;
    background-color: lighten($primary_color, 45%);

    .profile-stats-circle-inner {
        position: relative;
        left: -1px;
        display: inline-block;
        width: $padding * 3;
        line-height: $padding * 3;
        text-align: center;
        color: $primary_color;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.profile-changes-wrapper {
    .label-block {
        font-size: 1.2rem;
        color: $primary_color;
    }

    .msg-box {
        margin-bottom: $padding;
    }
}

.profile-setupList {
    @include span(12);
}

.profile-changes-list,
.profile-stats-list {
    padding-left: $padding * 1.9;
}

.profile-changes-list-item {
    margin-bottom: $padding * 2;
}

.profile-changes-list-separator {
    height: 2px;
    background-color: lighten($primary_color, 30);
    margin-bottom: $padding * 1.5;
}

.forgotten-password {
    display: block;
    text-align: center;
    padding: $padding;
}