@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';

@import 'forms';
@import 'common/breadcrumbs';
@import 'common/link';
@import 'common/navigation';
@import 'common/typography';

@import 'susy_config';

@import 'grid_mixins';

/* declarations */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

// ===========================
// Common
// ===========================

.mainContainer {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    z-index: 0;
}

.fullwidth-wrapper {
    width: 150%;
    background-color: red;

    &.home {
        background-color: #fff;
    }
}

.home {
    width: 200%;
    margin-left: -50%;
    background-color: rgba(255, 255, 255, 0.8);

    transform: rotate(-2deg);

    & > * {
        transform: rotate(2deg);
    }
}

.content-wrapper {
    @include container;

    width: 1024px;
    margin: 0 auto;

    @include xlarge-only {
        width: 1220px;
    }

    @include huge {
        width: 1500px;
    }
}


// ===========================
// Site Header
// ===========================

header {
    @extend .content-wrapper;
}

// Main nav
.main-nav-wrapper {
    @include span(9 of 12);
}

// Login box
.login-box {
    @include span(3 at 10 of 12);
    text-align: right;
}

// ===========================
// Site Footer
// ===========================
footer {
    @extend .content-wrapper;
}


// ===========================
// Main page specific content
// ===========================

.mainpage-title {
    padding: $padding_mega * 1.5 0;
    color: #fff;
}

.simSelection-container {

}

.simSelection-simwrapper {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: space-around;
}

.simSelection-simwrapper-item {
    flex-grow: 1;

    img {
        display: block;
        max-width: 100%;
    }
}


// ===========================
// Setup Listings specific content
// ===========================

.setupList-wrapper {
    @include container;
}

.setupList-filters-wrapper {
    @include span(2);
}

.setupList-setups-wrapper {
    @include span(10 at 3);
}

.setupList-setups-table {
    width: 90%;
    margin: 0 auto;

    tr {
        text-align: center;
    }
}


// ===========================
// Setup Listings specific content
// ===========================

.setupDetail-wrapper {
    @include container;
}

.setupDetail-overview {
    @include span(6);
}

.setupDetail-indepth {
    @include span(6 at 7);
}