h1 You want to add a car?

div.form-wrapper
    form(action="/register", method="post")
        div.fullwidth-form
            div.field-block
                label(for="car-name-field", class="form-label") Car Name
                div.form-input-wrapper
                    input(id="car-name-field", type="text", name="car_name", class="form-textfield", ng-model="carName")

            div.field-block
                    label(for="car-category-field", class="form-label") Car Category
                    div.form-input-wrapper
                        input(id="car-category-field", type="text", name="car_category", class="form-textfield", ng-model="carCategory")

            button(type="button", class="form-submitbutton", ng-disabled="!carName||!carCategory", ng-click="addCar()") Submit

            div(class="", id="msg-box")