h1 You want to add a track?

div.form-wrapper
    form(action="/register", method="post")
        div.fullwidth-form
            div.field-block
                label(for="track-name-field", class="form-label") Track Name
                div.form-input-wrapper
                    input(id="track-name-field", type="text", name="track_name", class="form-textfield", ng-model="trackName")

            button(type="button", class="form-submitbutton", ng-disabled="!trackName", ng-click="addTrack()") Submit

            div(class="", id="msg-box")