//- button(type="button", id="delete-button", class="form-submitbutton", ng-click="deleteOldSetups($event)") Delete old shit

button(type="button", id="delete-button", class="form-submitbutton", ng-click="getDuplicatedSetups($event)") Prepare duplicated setups
<br>
span(ng-if="setupIdsToDelete", style="display: block; text-align: center;")
  {{ setupIdsToDelete.length }} setups will be deleted.
<br>
button(ng-if="setupIdsToDelete", type="button", id="delete-button", class="form-submitbutton", ng-click="deleteDuplicatedSetups($event)") Delete!
