table.setupList-setups-table
    tr
        th id
        th Name
        th sim

    tr(ng-repeat="track in tracks")
        td {{ track._id }}
        td {{ track.name }}
        td {{ track.sim.display_name }}