h1 The place to find setups
span Welcome to < insert site name here >. Choose your sim.

div(class="simSelectionWrapper")
    a(href="#/setups/iRacing") iRacing
    a(href="#/setups/ac") AC
    a(href="#/setups/pcars") Pcars
    a(href="#/setups/r3e") R3E