div(class="fullwidth-wrapper home superparallax", parallax="superparallax")
    div.content-wrapper
        div.mainpage-title
            h1.jumbo-title
                span.title-slash /
                span Welcome to The Setup Market
            h2.jumbo-title-subtitle The place to find sim racing setups.

div(class="fullwidth-wrapper white")
     div.content-wrapper
        h2.simSelection-title Choose your flavor

div(class="fullwidth-wrapper white")
    div.content-wrapper
        div.simSelection-simwrapper
            div(ng-repeat="sim in sims", class="simSelection-simwrapper-item")
                a(href="#/setups/{{ sim.display_name }}", class="simSelection-circle-wrapper")
                    img(src="images/logo_{{ sim.code }}.png")
                    div.simSelection-circle
                    div.simSelection-circle2
                    div.simSelection-circle3
                    div.simSelection-circle4
