div.mainpage-title
    h1.jumbo-title The place to find sim racing setups
    h2.jumbo-title-subtitle Welcome to The Setup Market.

div.simSelection-container
    h2.simSelection-title Choose your flavor

    div.simSelection-simwrapper
        a(href="#/setups/iRacing", class="simSelection-simwrapper-item") iRacing
        a(href="#/setups/Assetto Corsa", class="simSelection-simwrapper-item") AC
        a(href="#/setups/pcars", class="simSelection-simwrapper-item") Pcars
        a(href="#/setups/r3e", class="simSelection-simwrapper-item") R3E