div(class="setupList-wrapper {{sim_name}}")
    span This is a setup detail page!

    ul
        li Car: {{ setup.car.name }}
        li Track: {{ setup.track.name }}
        li Trim: {{ setup.type }}
        li Best Time: {{ setup.best_time }}
        li Comments: {{ setup.comments }}
        li <a href="setup_files/{{ simId }}/{{ setup.file_name }}"/>download</a>