div(class="fullwidth-wrapper orange")
    div.content-wrapper
        div.breadcrumbs-wrapper
            a(href="#/", class="link breadcrumbs-item") Home
            span(class="breadcrumbs-item current") {{ sim_name }} setups

div(class="fullwidth-wrapper {{ sim_infos.code }} superparallax", parallax="superparallax")

div(class="fullwidth-wrapper white padded")
    div.content-wrapper
        span.sim-presentation-title / {{ sim_name }}

        div.setupList-filters-wrapper
            div.form-block
                label(for="filter-car", class="label-block") / Car
                div.form-select-wrapper
                    select(id="filter-car" ,ng-model="filter_query.car", ng-options="car_filters for car_filters in setup_filters.car_filters")
                        option(value="") - Every cars -

            div.form-block
                label(for="filter-track", class="label-block") / Track
                div.form-select-wrapper
                    select(id="filter-track", ng-model="filter_query.track", ng-options="track_filters for track_filters in setup_filters.track_filters")
                        option(value="") - Every tracks -

            div.form-block
                label(for="filter-author", class="label-block") / Author
                input(id="filter-author", type="text", placeholder="Enter an author", ng-model="filter_query.author", class="form-textfield")

            div.form-block
                label(for="filter-type", class="label-block") / Trim
                //- div(id="filter-type", ng-repeat="type_filter in setup_filters.type_filters")
                //-     label(for="type_{{ type_filter.label }}", class="label-inline filter-selectable-element", ng-click="selectItem($event)") {{ type_filter.label }}
                //-     input(type="radio", name="type" id="type_{{ type_filter.label }}", value="{{ type_filter.value }}", ng-model="$parent.filter_query.type", class="is-hidden")
                div.form-select-wrapper
                    select(id="filter-type", ng-model="filter_query.type", ng-options="type_filters for type_filters in setup_filters.type_filters")
                        option(value="") - Every trim -

        div.setupList-setups-wrapper
            table.setupList-setups-table
                tr
                    th / Actions
                    th / Car
                    th / Track
                    th / Author
                    th / Type
                    th
                        span(class="orderable", ng-class="{reverse:reverse}", ng-click="order('downloads')", tooltip="Order By Downloads")
                            span /&nbsp;Downloads
                            i(ng-class="{'icon-downarrow':reverse && predicate === 'downloads', 'icon-uparrow':!reverse && predicate === 'downloads'}")
                    th
                        span(class="orderable", ng-class="{reverse:reverse}", ng-click="order('added_date.timestamp')", tooltip="Order By Added Date")
                            span /&nbsp;Added Date
                            i(ng-class="{'icon-downarrow':reverse && predicate === 'added_date.timestamp', 'icon-uparrow':!reverse && predicate === 'added_date.timestamp'}")

                tr(ng-repeat="setup in setups | filter:{ car:filter_query.car||undefined, track:filter_query.track||undefined, author:filter_query.author, type:filter_query.type||undefined } | orderBy:'author'")
                    td
                        a(href="setup_files/{{ sim_infos._id }}/{{ setup._id }}", class="icon-download icon-link", tooltip="Download")
                        a(href="#/setups/{{ sim_name }}/{{ setup._id }}/", class="icon-details icon-link", tooltip="See details")
                    td {{ setup.car }}
                    td {{ setup.track }}
                    td
                        a(href="#/profile/{{ setup.authorid }}", class="link", tooltip="See user profile") {{ setup.author }}
                    td {{ setup.type }}
                    td {{ setup.downloads }}
                    td {{ setup.added_date.display_time }}