.newsFeed {
    width: 90%;
    margin: 0 auto;

    @include xlarge-only {
        width: 100%;
    }
}

.newsFeed-item {
    @include container();
    margin-bottom: $padding * 2;

    .link {
        font-weight: 700;
        color: $primary_color_alt3;

        &:hover {
            color: $bg_color;
        }
    }

    &:nth-child(even) {
        .newsFeed-item-date { 
            background-color: $primary_color;
        }

        .newsFeed-title {
            color: $primary_color;
        }

        .link {
            color: $primary_color;

            &:hover {
                color: $bg_color;
            }
        }
    }
}

.newsFeed-item-date {
    @include span(2);

    padding: $padding $padding / 2;
    background-color: $primary_color_alt3;
    font-weight: 700;
    text-align: center;
    &:nth-child(even) {
        background-color: $primary_color;
    }
}

.newsFeed-item-date-month {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.newsFeed-item-date-day {
    display: inline-block;
    font-size: 2rem;
}

.newsFeed-item-content {
    @include span(10 at 3);
    @include container();

    padding-left: $padding / 2;
}

.newsFeed-title {
    display: inline-block;
    padding-bottom: $padding / 2;
    color: $primary_color_alt3;
    font-size: 1.6rem;
    font-weight: 700;
}

.newsFeed-text {
    display: block;
    padding-bottom: $padding;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.newFeed-sbslist-wrapper {
    @include span(6);

    &:nth-child(even) {
        @include span(6 at 7);
    }
}

.newFeed-sbslist {
    li {
        margin-bottom: $padding / 3;
    }
}