.notification-wrapper {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-top: $padding / 2;
    padding: $padding / 2;
    z-index: 10000;
    transform: translateX(-50%);

    &.is-error {
        background-color: $error_bg_color;
        border: 1px solid $error_color;
        color: $error_color;
    }

    &.is-success {
        background-color: $success_bg_color;
        border: 1px solid $success_color;
        color: $success_color;
    }
}