extends ../../root_base

block mainContent
    div(class="fullwidth-wrapper not-found")
        div.content-wrapper
            div.page-title-wrapper
                h1.jumbo-title
                    span.title-slash /
                    span 404

    div(class="fullwidth-wrapper white padded")
        h2.subtitle
            span The page you're looking for does not exist.