extends ../../root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="/#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper server-error")

    div(class="fullwidth-wrapper white padded")
        div.content-wrapper
            h1.sim-presentation-title
                span.title-slash /
                span 500

            h2.title
                span There has been a server error.

            h2.subtitle
                span We are sorry for the inconvenience. Please try again or 
                    a(href="mailto:thesetupmarket@gmail.com", class="link") contact us
                    span .
