extends ../../root_base

block mainContent
    //- div(class="fullwidth-wrapper orange")
    //-     div.breadcrumbs-wrapper
    //-         a(href="/#/", class="link breadcrumbs-item") Home
    //-         span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper server-error")
        div.content-wrapper
            div.page-title-wrapper
                h1.jumbo-title
                    span.title-slash /
                    span 500

    div(class="fullwidth-wrapper white padded")
        h2.title
            span There has been a server error.

        h2.subtitle
            span We are sorry for the inconvenience. Please try again or 
                a(href="mailto:thesetupmarket@gmail.com", class="link") contact us
                span .
