.breadcrumbs-wrapper {
    overflow: hidden;
}

.breadcrumbs-item {
    padding: $padding / 3 $padding;
    position: relative;
    display: inline-block;
    color: $bg_color;
    z-index: 2;

    &.current {
        &::before {
            top: 0;
            left: 0;
            background-color: $primary_color;
        }
    }

    &:first-child {
        margin-left: -5px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: -6.4%;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $bg_color;
        transform: skew(-15deg, 0);
        z-index: -1;
        transition: all 0.2s;
    }

    &:hover {
        &::before {
            top: 0;
            left: 0;
        }
    }
}

.breadcrumbs-arrow {
    margin-right: $padding / 2;
    padding: $padding / 3 $padding / 2;
}
