.skewedbutton {
    display: inline-block;
    position: relative;
    padding: $padding / 3 $padding;
    z-index: 2;
    transition: all 0.2s;
    font-size: 1.5rem;

    &:hover {
        color: #fff;

        &::after {
            top: 0;
            left: 0;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: skew(-15deg, 0);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 90%;
        left: -8.5%;
        width: 100%;
        height: 100%;
        background-color: #40A9A9;
        transform: skew(-15deg, 0);
        z-index: -1;
        transition: all 0.2s;
    }
}

.link {
    text-decoration: none;
    color: $primary_color;

    transition: all 0.3s;

    &:hover {
        color: $secondary_color;
    }
}