.setupList-setups-table {
    width: 100%;
    margin: 0 auto;
    color: $bg_color;
    font-size: 0.8rem;

    @include xlarge-and-above {
        font-size: 1rem;
    }

    tr {
        text-align: center;

        &.table-filters {
            background-color: $primary_color !important;

            th {
                padding-top: 0;
            }
        }

        &.no-border {
            th {
                border-right: none;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        @for $i from 1 through 25 {
            @include print_nthchild_with_bgcolor('10',  #{$i}, $secondary_color);
        }

        &:nth-child(10n) {
            background-color: $secondary_color;
        }

        &:first-child {
            background-color: $primary_color;
        }
    }

    th {
        padding: $padding / 2;
        border-right: 1px solid $bg_color;

        &:hover {
            background-color: $primary_color_alt2;
        }

        &:last-child {
            border-right: none;
        }

        @include huge {
            font-size: 1.2rem;
        }

        .orderable {
            cursor: pointer;
        }
    }

    td {
        vertical-align: middle;
        padding: $padding / 3 $padding / 2;
        white-space: nowrap;

        &.no-side-padding {
            padding: $padding / 3 0;
        }

        &.max-width {
            max-width: 150px;
            white-space: normal;
        }

        @include xlarge-and-above {
            padding: $padding / 3 $padding / 2;
        }
    }

    .icon-link {
        display: inline-block;
        margin-left: $padding / 4;
        width: 26px;
        height: 26px;
        border: 1px solid $bg_color;
        border-radius: 100%;
        color: $bg_color;
        font-size: 0.9rem;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s;

        &:before {
            padding: 0;
            left: 0px;
            top: 6px;
        }

        &.icon-download {
            &:before {
                top: 5px;
            }
        }

        &.icon-edit {
            &:before {
                left: 1px;
                top: 4px;
            }
        }

        &:hover {
            background-color: $bg_color;
            color: $primary_color;
        }

        &:first-child {
            margin-left: 0;
        }

        &.icon-error {
            &.is-ready-to-delete {
                background-color: lighten($error_color, 10);
                //transition: all 1s;

                &:hover {
                    background-color: $error_color;
                    color: $bg_color;
                    //transform: scale(10%);
                }
            }
        }

        @include xlarge-and-above {
            width: 34px;
            height: 34px;
            margin-left: $padding / 2;
            border: 2px solid $bg_color;
            font-size: 1.2rem;

            &:before {
                padding: 0;
                left: 0px;
                top: 6px;
            }
        }
    }

    .link {
        color: $bg_color;
        font-weight: 700;

        &:hover {
            color: $bg_color;
        }
    }

    .visible-huge {
        display: none;

        @include huge {
            display: table-cell;
        }
    }
}