.jumbo-title {
    padding: 0.5rem 0;
    font-size: 4rem;
    font-weight: bold;
}

.jumbo-title-subtitle {
    font-size: 1.5rem;
    margin-left: 4.5%;
}

.simSelection-title {
    padding: $padding 0;
    font-size: 2rem;
    font-weight: bold;
}

// Headers
.section-title {
    margin-bottom: $padding;
    font-size: 2.5rem;
    font-weight: 700;
    color: $primary_color;
}