.jumbo-title {
    font-size: 4rem;
    font-weight: bold;
}

.jumbo-title-subtitle {
    font-size: 1.5rem;
    margin-left: 2.5%;
}

.title {
    padding: $padding * 2 0;
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;

    &.no-padding {
        padding: 0 0 $padding / 1.5;
    }

    &.padding-bottom-only {
        padding: 0 0 $padding * 2;
    }
}

.title-slash {
    color: $secondary_color;
}

.title--small {
    @extend .title;
    padding:  0 0 $padding * 2;
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.sim-presentation-title {
    @include span(12);
    color: $bg_color;
    font-size: 6rem;
    font-weight: 700;
}

// Headers
.section-title {
    margin-bottom: $padding;
    font-size: 2.5rem;
    font-weight: 700;
    color: $primary_color;
}