.jumbo-title {
    padding: 0.5rem 0;
    font-size: 4rem;
    font-weight: bold;
}

.jumbo-title-subtitle {
    font-size: 1.5rem;
}

.simSelection-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}