extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="/#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper not-found")

    div(class="fullwidth-wrapper white padded")
        div.content-wrapper
            h1.sim-presentation-title
                span.title-slash /
                span 404

            h2.subtitle
                span The page you're looking for does not exist.