extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="/#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Confirm Account

    div(class="fullwidth-wrapper register")

    div(class="fullwidth-wrapper white padded")
        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            div.fullwidth-form
                h2.form-title-msg Confirm your account

                form(action="", method="post")
                    div.field-block
                        label(for="confirmation-code", class="form-label")
                        div.form-input-wrapper
                            input(id="confirmation-code", type="text", name="confirmationcode", class="form-textfield", placeholder="Enter your code here.")

                    input(type="hidden", value="#{userid}", name="userid")

                    button(type="submit", class="form-submitbutton").
                        Submit

block jsIncludes