extends ./root_base

block mainContent
    //- div(class="fullwidth-wrapper orange")
    //-     div.breadcrumbs-wrapper
    //-         a(href="/#/", class="link breadcrumbs-item") Home
    //-         span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper login superparallax", parallax="superparallax")

    div(class="fullwidth-wrapper white padded")
        div.content-wrapper
            h1.sim-presentation-title
                span.title-slash /
                span Login

        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            div.fullwidth-form
                form(action="/login", method="post")

                    div.field-block
                        label(for="email-field", class="form-label") Email Address
                        div.form-input-wrapper
                            input(id="email-field", type="Email", name="email", class="form-textfield")
                        div.msg-wrapper
                            i.field-helperIcon
                            span.msg-box

                    div.field-block
                        label(for="password-field", class="form-label") Password
                        div.form-input-wrapper
                            input(id="password-field", type="Password", name="password", class="form-textfield")
                        div.msg-wrapper
                            i.field-helperIcon
                            span.msg-box

                    input(type="checkbox", name="botcheck", class="form-botcheck")

                    button(type="submit", class="form-submitbutton").
                        Login please

                a(href="/recover-password", class="link forgotten-password") Forgot your password?


block jsIncludes