extends ./root_base

block mainContent
    div(class="mainWrapper")
        if message && message.length
                strong #{message}

        form(action="/login", method="post")
            div.field-block
                input(id="email-field", type="Email", name="email")
                i.field-helperIcon
                span.msg-box

            div.field-block
                input(id="password-field", type="Password", name="password")
                i.field-helperIcon
                span.msg-box

            button(type="submit").
                Login please

block jsIncludes
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
//-     script.
//-         //- console.log(window.jQuery)
//-         //- if(!window.jQuery)document.write("<script src='js/lib/jquery-1.11.3.min.js'></script>")
//-     script(src="js/pages/login.js")