extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper register")

    div(class="fullwidth-wrapper white padded")

        div.form-backendmsg-wrapper
            if message && message.length
                strong #{message}

        div.fullwidth-form
            form(action="/login", method="post")
                div.field-block
                    label(for="email-field", class="form-label") Email Address
                    input(id="email-field", type="Email", name="email", class="form-textfield")
                    div.msg-wrapper
                        i.field-helperIcon
                        span.msg-box

                div.field-block
                    label(for="password-field", class="form-label") Password
                    input(id="password-field", type="Password", name="password", class="form-textfield")
                    div.msg-wrapper
                        i.field-helperIcon
                        span.msg-box

                button(type="submit", class="form-submitbutton is-disabled", disabled="disabled").
                    Login please

block jsIncludes
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
//-     script.
//-         //- console.log(window.jQuery)
//-         //- if(!window.jQuery)document.write("<script src='js/lib/jquery-1.11.3.min.js'></script>")
//-     script(src="js/pages/login.js")