extends ./root_base

block mainContent
    div(class="mainWrapper", ng-controller="userProfileCtrl")
        span This is your profile page bro.

        if user
            span #{user.display_name} is logged in
        else
            span no user logged in