extends ./root_base

block mainContent
    //- div(class="fullwidth-wrapper orange")
    //-     div.breadcrumbs-wrapper
    //-         a(href="/#/", class="link breadcrumbs-item") Home
    //-         span(class="breadcrumbs-item current") Recover Password

    div(class="fullwidth-wrapper register")

    div(class="fullwidth-wrapper white padded")
        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            div.fullwidth-form
                h2.form-title-msg Enter your email address and we will send you an email with a link to recover your password.

                form(action="", method="post")
                    div.field-block
                        label(for="email-recoverpass-field", class="form-label") Email Address
                        div.form-input-wrapper
                            input(id="email-recoverpass-field", type="Email", name="email", class="form-textfield")

                    button(type="submit", class="form-submitbutton").
                        Recover

block jsIncludes