extends ./root_base

block mainContent
    form(action="/register", method="post")

        div.field-block
            input(id="username-field", type="text", placeholder="User name", name="username")
            i.field-helperIcon
            span.msg-box

        div.field-block
            input(id="email-field",type="Email", placeholder="Email address", name="email")
            i.field-helperIcon
            span.msg-box

        div.field-block
            input(id="password-field",type="Password", placeholder="Password", name="password")
            i.field-helperIcon
            span.msg-box

        button(class="submitbutton", type="submit") Create Account

block jsIncludes
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script.
        //- console.log(window.jQuery)
        //- if(!window.jQuery)document.write("<script src='js/lib/jquery-1.11.3.min.js'></script>")
    script(src="js/pages/register.js")
