extends ./root_base

form(action="/register", method="post")

    input(type="Email", placeholder="Email address", name="email")
    input(type="Password", placeholder="Password", name="password")

    button(type="submit") Create Account