extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="/#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Register

    div(class="fullwidth-wrapper register superparallax", parallax="superparallax")

    div(class="fullwidth-wrapper white padded")
        div.content-wrapper
            h1.sim-presentation-title
                span.title-slash /
                span Register

        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            form(action="/register", method="post")
                div.fullwidth-form
                    div.field-block
                        label(for="username-field", class="form-label") Username
                        div.form-input-wrapper
                            input(id="username-field", type="text", name="username", class="form-textfield")
                        div.msg-wrapper
                            i.field-helperIcon
                            span.msg-box

                    div.field-block
                        label(for="email-field", class="form-label") Email Address
                        div.form-input-wrapper
                            input(id="email-field",type="Email", placeholder="ex: simracer@gmail.com", name="email", class="form-textfield")
                        div.msg-wrapper
                            i.field-helperIcon
                            span.msg-box

                    div.field-block
                        label(for="password-field", class="form-label") Password
                        div.form-input-wrapper
                            input(id="password-field",type="Password", placeholder="", name="password", class="form-textfield")
                        div.msg-wrapper
                            i.field-helperIcon
                            span.msg-box

                    input(type="checkbox", name="botcheck", class="form-botcheck")

                    button(class="form-submitbutton is-disabled", type="submit", disabled="disabled") Create Account

block jsIncludes
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script.
        if(!window.jQuery) {
            document.write('<scr'+'ipt src="js/lib/jquery-1.11.3.min.js"></scr'+'ipt>');
        }
    script(src="js/lib/lodash.min.js")
    script(src="js/pages/register.js")
