extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.breadcrumbs-wrapper
            a(href="/#/", class="link breadcrumbs-item") Home
            span(class="breadcrumbs-item current") Reset Password

    div(class="fullwidth-wrapper register")

    div(class="fullwidth-wrapper white padded")
        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            div.fullwidth-form
                h2.form-title-msg Reset your password

                form(action="", method="post")
                    div.field-block
                        label(for="pass", class="form-label")
                        div.form-input-wrapper
                            input(id="pass", type="Password", name="pass", class="form-textfield", placeholder="Enter your new password.")

                    div.field-block
                        label(for="passconfirm", class="form-label")
                        div.form-input-wrapper
                            input(id="passconfirm", type="Password", name="passconfirm", class="form-textfield", placeholder="Retype your new password.")

                    input(type="hidden", name="userid", value="#{userid}")

                    button(type="submit", class="form-submitbutton").
                        Submit

block jsIncludes