extends ./root_base

block mainContent
    div(class="fullwidth-wrapper orange")
        div.content-wrapper
            div.breadcrumbs-wrapper
                a(href="/#/", class="link breadcrumbs-item") Home
                span(class="breadcrumbs-item current") Login

    div(class="fullwidth-wrapper register")

    div(class="fullwidth-wrapper white padded")
        div.form-wrapper

            div.form-backendmsg-wrapper
                if message && message.length
                    strong #{message}

            div.fullwidth-form
                h2.form-title-msg Change your password

                form(action="", method="post")
                    div.field-block
                        label(for="new-password", class="form-label")
                        div.form-input-wrapper
                            input(id="new-password", type="password", name="pass", class="form-textfield", placeholder="Enter your desired password.")

                    div.field-block
                        label(for="new-password2", class="form-label")
                        div.form-input-wrapper
                            input(id="new-password2", type="password", name="passconfirm", class="form-textfield", placeholder="Enter your desired password again.")

                    input(type="hidden", value="#{userid}", name="userid")

                    button(type="submit", class="form-submitbutton").
                        Submit

block jsIncludes
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
//-     script.
//-         //- console.log(window.jQuery)
//-         //- if(!window.jQuery)document.write("<script src='js/lib/jquery-1.11.3.min.js'></script>")
//-     script(src="js/pages/login.js")