doctype html
html(ng-app="setupsSharingApp")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="description", content="Template")
        meta(name="robots", content="index, follow")
        link(rel="shortcut icon", href="images/favicon.ico")
        title The Setup Market
        //- CSS FILES
        link(href="css/style.css", type="text/css", rel="stylesheet")

        //- Google fonts
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        //- For angular html5 history API
        //- <base href="/">
    body
        block bodyContent
            div(class="mainContainer", ng-init="ng_user_is_logged= #{user ? true : false}; ng_user_id= #{user ? JSON.stringify(user._id) : false}")
                header.fullwidth-wrapper
                    block header
                        div.maintenance
                          span Under maintenance. The app and website might be acting slow, we are working on the issue. 
                      
                        div.content-flexwrapper.padded
                            ul.main-nav-wrapper
                                ul.inline-nav
                                    li.nav-item
                                        a(href="/#/", class="link main-menu-link main-menu-link-home") /
                                    li.nav-item
                                        a(href="/#/setups/Assetto%20Corsa", class="link main-menu-link main-menu-link-setups") 
                                            span.slash /
                                            span.name Setups
                                    if user && user.admin
                                        li.nav-item
                                            a(href="/admin#/admin", class="link main-menu-link main-menu-link-admin") 
                                                span.slash /
                                                span.name Admin

                            div.login-box
                                ul.inline-nav
                                    if user
                                        li.nav-item
                                            a(href="/#/profile/#{user._id}", class="link main-menu-link main-menu-link-profile icon-profile") #{user.display_name}
                                        li.nav-item
                                            a(href="/#/submit-setup", class="link main-menu-link main-menu-link-submit icon-upload") Submit Setup
                                        li.nav-item
                                            a(href="/logout", class="link icon-logout") Logout
                                    else
                                        li.nav-item
                                            a(href="/login", class="link") Log in
                                        li.nav-item
                                            a(href="/register", class="link") Register

                block mainContent
                //- market-stats

            footer.fullwidth-wrapper
                block footer
                    div.content-wrapper
                        span Created and maintained by Mathieu Labbe @&nbsp;
                        a(href="http://mlwebdesigns.com", class="link footer-email-link") mlwebdesigns.com

            block jsIncludes
                script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js")
                script.
                    window.angular || document.write('<script src="js/lib/angular.min.js"><\/script>');
                script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js")
                script.
                    (function() {
                        try {
                            window.angular.module('ngRoute');
                        }
                        catch(e) {
                            return false;
                        }

                        return true;
                    })()||document.write('<script src="js/lib/angular-route.min.js"><\/script>');
                script(src="js/main.js")
